@tailwind base;
@tailwind components;

@font-face {
    font-family: "Fabrikat Normal";
    src: url("src/fonts/HvDTrial_FabrikatNormal-Regular-BF64b73f664a7f1.otf") format("opentype");
    font-weight: normal;
}
@font-face {
    font-family: "Fabrikat Medium";
    src: url("src/fonts/HvDTrial_FabrikatNormal-Medium-BF64b73f66ec71d.otf") format("opentype");
    font-weight: medium;
}
@font-face {
    font-family: "Fabrikat Bold";
    src: url("src/fonts/HvDTrial_FabrikatNormal-Bold-BF64b73f66ccb4b.otf") format("opentype");
    font-weight: bold;
}

@tailwind utilities;

:root {
    background-color: #d3d3d3;
    font-family: "Fabrikat Normal";
}